body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1c1627;
  box-sizing: border-box;

  .btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 6.5px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
    width: 50%;
    max-width: calc(calc(80vh / 1.414) * 0.5);
    margin-bottom: 20px;
    margin-left: 14vh;
    &:hover {
      background-color: #0069d9;
    }
  }
  .card {
    height: 80vh;
    width: calc(80vh / 1.414);
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    position: relative;
    padding: 2em;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    &__header {
      display: flex;
      gap: 30px;
    }
    &__img {
      width: 80px;
    }
    &__title {
      color: #20423a;
    }
    &__head {
      text-align: center;
    }
    &__subtitle {
      color: #fccd0a;
    }
    &__banner {
      background-color: #004d40; /* Yashil fon rangi */
      color: #ffffff; /* Oq matn rangi */
      padding: 5px 15px; /* Matnning atrofidagi bo'sh joy */
      font-family: "Cagliostro", serif;
      font-size: 10px; /* Matn o'lchami */
      font-weight: bold; /* Matn qalinligi */
      text-align: center; /* Matnni o'rtalash */
      display: inline-block; /* Matnni orqa foniga moslashtirish */
      clip-path: polygon(
        0% 0%,
        /* Chap yuqori burchak */ 100% 0%,
        /* O'ng yuqori burchak */ 95% 50%,
        /* O'ng markaz (ichkariga kirgan) */ 100% 100%,
        /* O'ng pastki burchak */ 0% 100%,
        /* Chap pastki burchak */ 5% 50% /* Chap markaz (ichkariga kirgan) */
      );
    }
    &__name {
      font-size: larger;
      letter-spacing: 1px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
    &__hr {
      width: 90%;
    }
    &__subdesc {
      font-size: 12px;
      width: 60%;
      text-align: center;
    }
    &__desc {
      font-family: "Cagliostro", serif;
      font-size: 10px;
      text-align: center;
    }
    &__footer {
      display: flex;
      align-items: end;
      gap: 10px;
    }
    &__foot {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    &__author {
      font-family: "Playwrite AU SA", serif;
      width: 75px;
      font-size: 14px;
    }
    &__date {
      font-family: "Cagliostro", serif;
      font-size: 10px;
      text-align: center;
    }
    &__logo {
      font-size: 10px;
      width: 95px;
    }
    &__img:nth-child(5) {
      position: relative;
      right: 50px;
    }
  }
}
